<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<h:body>

	<h:form id="insertProductForm">

		<h:outputLabel for="name" value="Name" />
		<h:inputText id="name" value="#{insertView.name}" required="true"
			converterMessage="Add a name" />
		<h:message for="name" />
		<br />

		<h:outputLabel for="descriptionvalue" value="Descrizione" />
		<h:inputText id="description" required="true"
			value="#{insertView.description}" />
		<h:message for="description" />

		<h:commandButton action="#{insertView.addProduct()}" value="Add it"
			update="listOfProducts">
		</h:commandButton>

		<ul id="listOfProducts">
			<ui:repeat var="product" value="#{productView.products}">
				<li>#{product.name} - #{product.description}</li>
			</ui:repeat>
		</ul>

	</h:form>
	<h:form>
		<h:commandLink action="#{insertView.goToProductList()}"
			value="Vedi Lista prodotti" />
	</h:form>
</h:body>
</html>