<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>


	<h2>Lease Contracts stipulated with other users</h2>

	
	<h:form>
		<p:dataTable var="list" value="#{contractView.contracts}" rows="10"
			paginator="true" rowsPerPageTemplate="5,10,15">
			
			<p:column headerText="Id">
				<h:outputText value="#{list.leaseContractId}" />
			</p:column>

			<p:column headerText="Begin Date">
				<h:outputText value="#{list.beginDate}" />
			</p:column>

			<p:column headerText="End Date">
				<h:outputText value="#{list.endDate}" />
			</p:column>

             <p:column headerText="Billing Price">
				<h:outputText value="#{list.billingAmount}" />
			</p:column>
			
			<p:column headerText="Description">
				<h:outputText value="#{list.description}" />
			</p:column>
			
			<p:column headerText="Duration">
				<h:outputText value="#{list.duration}" />
			</p:column>
			
			

		</p:dataTable>

            <p:commandButton action="#{contractView.goToUserMenu()}"
			value="Go back to User Menu" /> 
	</h:form>
	
	


</body>
</html>
