<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:body>

	<div>
		Welcome to the <span>Lending Platform</span>
	</div>
	<p>Subscribe if you don't have an account to the platform</p>


	<h:form id="registrationForm">
		<h:outputLabel for="name" value="Name: " />
		<h:inputText id="name" value="#{registerView.name}" required="false"
			converterMessage="Add a name" />
		<h:message for="name" />
		<br />

		<h:outputLabel for="surname" value="Surname: " />
		<h:inputText id="surname" value="#{registerView.surname}" required="false"
			converterMessage="Add a surname" />
		<h:message for="surname" />
		<br />
		
		<h:outputLabel for="username" value="Username: " />
		<h:inputText id="username" value="#{registerView.username}" required="false"
			converterMessage="Add a username" />
		<h:message for="username" />
		<br />


		<h:outputLabel for="email" value="Email address: " />
		<h:inputText id="email" required="false" value="#{registerView.email}" />
		<h:message for="email" />
		<br />

		<h:outputLabel for="confirm_email" value="Confirm email address: " />
		<h:inputText id="confirm_email" value="#{registerView.confirmEmail}"
			required="false" />
		<h:message for="confirm_email" />
		<br />

		<h:outputLabel for="password" value="Password: " />
		<h:inputSecret id="password" value="#{registerView.password}"
			required="false" converterMessage="Type a password" />
		<h:message for="password" />
		<br />
		
		<h:outputLabel for="confirm_password" value="Confirm password: " />
		<h:inputSecret id="confirm_password" value="#{registerView.confirmPassword}" />
		<h:message for="confirm_password" />
		<br />

		<h:outputLabel for="city" value="City: " />
		<h:selectOneMenu value="#{registerView.city}">
			<f:selectItem itemValue="Milano" itemLabel="Milano" />
			<f:selectItem itemValue="Roma" itemLabel="Roma" />
			<f:selectItem itemValue="Palermo" itemLabel="Palermo" />
		</h:selectOneMenu>

		<h:commandButton action="#{registerView.register()}" value="Register">
		</h:commandButton>

	</h:form>

	<h:form>
		<h:commandLink action="#{registerView.goToLogin()}"
			value="Login if you have an account" />
	</h:form>


</h:body>

</html>