<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<title>PrimeFaces Poseidon</title>
</h:head>

<h:body>
	<h1>LENDING SYSTEM - HOME</h1>
	<h:form>
		<p:commandButton action="#{UserMenuView.goToObjectList()}" value="Object List" />
		
		<br> </br>
		<p:commandButton value="Lease Contract List" action="#{UserMenuView.goToContractList()}" />

		<br></br>
	

		<p:commandButton value="Account Options" />
		<br> </br>
		
		<p:commandButton value="Logout" action="#{loginView.logout()}" />
		
		<br></br>
	</h:form>

</h:body>

</html>